{% extends "base.html.twig" %}
{% block body %}
<style>
    body {
        background-image: url(http://maximumwallhd.com/wp-content/uploads/2017/03/wallpaper-image-animaux-en-ete-15.jpg);
        background-size: cover;
    }
</style>
{{form_start(form)}}
<div class="row justify-content-center text-center mt-4">
    <div class="col-6">
        <div class="row">
            <div class="col-10">
                {{form_row(form.race)}}
            </div>
            <div class="col">
                {{form_row(form.price)}}
            </div>
        </div>
        {{form_row(form.image)}}
        {{form_row(form.description)}}
        {{form_row(form.age)}}
        <div class="row">
            <div class="col">
                {{form_row(form.phone)}}
            </div>
            <div class="col">
                {{form_row(form.address)}}
            </div>
        </div>
        <button>Add an announce</button>
    </div>
</div>
{{form_end(form)}}
{% endblock body %}