{% extends "base.html.twig" %}

{% block body %}
<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp3157716.jpg);
    background-size: cover;
  }

  h2 {
    color: black;
  }

  button#paye {
    width: 99%;
    background-color: rgba(40, 40, 226, 0.801);
    border-color: rgb(93, 93, 218);
  }
</style>
{% set price = 0 %}
{% for animal in animals %}
{% set price = price + animal.price %}
{% endfor %}
<h1>Mon panier</h1>
<div class="row">
  <div class="col-6 row">
    <div class="col-8">
      <h5 class="card-top m-2 cartTotal">Somme totale de votre panier: {{price}} euros</h5>
    </div>
    <div class="col-4">
      <button id="paye" class="btn btn-secondary">Passer la commande</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% for animal in animals %}
    <div class="card m-3 cardHeight" style="width: 18rem;">
      <img id="imgAnnounce" src="{{animal.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title m-5">{{animal.race}}</h3>
        <a class="btn btn-danger deleteCart" href="{{path('deletePanier', {animal: animal.id})}}"
          style="width: 45%">supprimer</a>
      </div>
      <a id="infoButton" href="{{path ("announce", {id:animal.id}) }}" class="btn btn-primary">Infos</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}