{% extends "base.html.twig" %}

{% block body %}
<style>
    body {
        background-image: url(http://maximumwallhd.com/wp-content/uploads/2017/03/wallpaper-image-animaux-en-ete-15.jpg);
        background-size: cover;
    }
</style>
    {{form_start(form)}}
    {{ form_row(form.username)}}
    {{ form_row(form.name) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.address) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.fileImage, {'required': 'false'}) }}
    <button class="btn btn-warning">modify</button>
    {{form_end(form)}}
{% endblock body %}