{% extends "base.html.twig" %}

{% block body %}
<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp3157716.jpg);
    background-size: cover;
  }
</style>
<h1>Mes Favoris</h1>
<div>

  {% if app.user %}
  <div class="container-fluid">
    <div class="row">
      {% for animal in app.user.favoris %}
      <div class="card m-4" style="width: 18rem;">
        <img src="{{animal.image}}" class="card-img-top" alt="{{animal.race}}">
        <div class="card-body">
          <h5 class="card-title">{{animal.race}}</h5>
          <p class="card-text">{{animal.description}}</p>
          <a href="{{path ("announce", {id:animal.id}) }}" class="btn btn-primary">Infos</a>
          <a href="{{path ("delete", {id:animal.id})}}">Supprimer</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>marche pas</p>
  {% endif %}
</div>

{% endblock body %}