{% extends "base.html.twig" %}

{% block body %}
<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp3157716.jpg);
    background-size: cover;
  }
</style>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle filter" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Filtre
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a  class="dropdown-item" name="maxPrice" href="{{path('filtre', {'max':'maxPrice'})}}">Prix max</a> 
    <a class="dropdown-item" href="{{path('filtre', {'max':'minPrice'}) }}">Prix min</a>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% for animal in animals %}
      <div class="card m-3 cardHeight" style="width: 18rem;">
        <img id="imgAnnounce" src="{{animal.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{animal.race}}</h5>
          <p class="card-text">{{animal.description[:150]}}...</p>
        </div>
        <a id="infoButton" href="{{path ("announce", {id:animal.id}) }}" class="btn btn-primary">Infos</a>
        {% if app.user == "ROLE_ADMIN" %}
        <a id="deleteButton" class="btn btn-primary" href="{{path('delAnnounce', {id: animal.id})}}"
          onclick="return confirm('Êtes-vous sûrs de vouloir supprimer cette annonce?')"><i id="trash"
            class="fas fa-trash-alt"></i></a>
        <a id="modifyButton" class="btn btn-primary" href="{{path('modify_announce', {animal: animal.id})}}">Modifier</a>
        {% endif %}
      </div>
      {% endfor %}
      {% if app.user == "ROLE_ADMIN" %}
      <a href="{{path ("announces")}}">
        <div class=" card m-3 addCard" style="width: 18rem;">
          <img id="imgAdd" src="https://orion.novacorp.fr/Novacard/image/icones/Plus_sign.png" class="card-img-top"
            alt="...">
        </div>
      </a>
      {% endif %}
    </div>
  </div>
  {% endblock body %}